<launch>
  <include file="$(find openni_launch)/launch/openni.launch">
  </include>

  <param name="/camera/driver/depth_registration" value="true"/>

  <node name="organized_segmentation" pkg="semantic_scene_understanding" type="organized_segmentation_node" respawn="false" output="screen">
  </node>

</launch>